version: "3.9"

services:
    php1:
        build:
            context: ./docker/php
        container_name: php1
        volumes:
            - ./:/var/www/html
        environment:
            DB_HOST: mysql
            DB_PORT: 3306
            DB_DATABASE: laravel
            DB_USERNAME: laravel
            DB_PASSWORD: laravelpw
            APP_SERVER_NAME: "Serveur 1"
            RUN_MIGRATIONS: "true" # php1 fait les migrations
        networks:
            - laravelnet
        depends_on:
            - mysql

    php2:
        build:
            context: ./docker/php
        container_name: php2
        volumes:
            - ./:/var/www/html
        environment:
            DB_HOST: mysql
            DB_PORT: 3306
            DB_DATABASE: laravel
            DB_USERNAME: laravel
            DB_PASSWORD: laravelpw
            APP_SERVER_NAME: "Serveur 2"
            RUN_MIGRATIONS: "false"
        networks:
            - laravelnet
        depends_on:
            - mysql

    nginx1:
        image: nginx:latest
        container_name: nginx1
        ports:
            - "8081:80"
        volumes:
            - ./:/var/www/html:ro
            - ./docker/nginx/nginx1.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - php1
        networks:
            - laravelnet

    nginx2:
        image: nginx:latest
        container_name: nginx2
        ports:
            - "8082:80"
        volumes:
            - ./:/var/www/html:ro
            - ./docker/nginx/nginx2.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - php2
        networks:
            - laravelnet

    vite:
        image: node:18
        container_name: vite
        working_dir: /var/www/html
        volumes:
            - ./:/var/www/html
        command: ["npm", "run", "dev"]
        ports:
            - "5173:5173"
        networks:
            - laravelnet

    mysql:
        image: mysql:8.0
        container_name: mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: laravelpw
        volumes:
            - mysqldata:/var/lib/mysql
        ports:
            - "3307:3306"
        healthcheck:
            test:
                [
                    "CMD",
                    "mysqladmin",
                    "ping",
                    "-h",
                    "127.0.0.1",
                    "-uroot",
                    "-proot",
                ]
            interval: 5s
            timeout: 3s
            retries: 10
        networks:
            - laravelnet

networks:
    laravelnet:

volumes:
    mysqldata:
